<div id="flackbox">
    <form>
        <div class="input-group input-group-lg">
            <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Someone</button>
      </span>
            <input type="text" ng-model="textInput" class="form-control" placeholder="should.." aria-describedby="basic-addon1">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" ng-click="postMessage(textInput)">Post!</button>
      </span>
        </div>
    </form>
</div>