* {
  box-sizing: border-box; }

body {
  background: #FBFBFB;
  padding-bottom: 56px;
  font-family: 'Quicksand', sans-serif; }

#main {
  padding-left: 0; }

sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  /*margin-right: 0*/
  /*background: #716969;*/
  background: #C6AFB1;
  /*background: #ffe0e3;*/
  height: calc(100vh);
  width: inherit;
  overflow-y: auto;
  /*border-right: 2px solid #555;*/
   }
  sidebar::-webkit-scrollbar{
    width: 10px;
    background-color: #222; }
  sidebar::-webkit-scrollbar-thumb{
    background-color: black;
    -webkit-border-radius: 1ex; }
  sidebar .logo {
    width: 100%;
    padding: 15px; }
  sidebar section > * {
    padding: 0 15px; }
  sidebar .menu-item {
    transition: border-left, 0.2s; }
    sidebar .menu-item a {
      color: #c8c8c8; }
      sidebar .menu-item a:hover {
        color: white; }
/*    sidebar .menu-item.active, sidebar .menu-item:hover {
      border-left: 3px solid #00bc8c; }*/

footer {
  position: fixed;
  float: right;
  background-color: #555;
  bottom: 0;
  right: 0;
  height: 56px;
  width: 1200px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 8px; }
  footer .flackbox {
    overflow: hidden;
    padding: 9px; }

textarea {
  width: 100%;
  border-radius: 10px;
}

.username {
  font-weight: bold;
}

#flackbox{
  position: fixed;
  bottom: 0;
}

[double-click] {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer; }

tr[double-click]:hover {
  background-color: #444; }
